@model TesteWay2Joel.Models.RepositorioModels

@{
    ViewBag.Title = "Detalhes";
}

@section JavaScript
{
    <script type="text/javascript">
    function doFavorito() {
        var modelDataJSON = '@Html.Raw(Json.Encode(Model))';
        var urlAjax = '/Favorito/Atualizar';
        $('#Favoritar').val('Processando...');
        $('#Favoritar').disabled = true;

        $.ajax({
            type: 'POST',
            url: urlAjax,
            data: { jsonRepositorioModels: modelDataJSON },
            dataType: 'html',
            cache: false,
            async: false,
            success: function (result) {
                if (result == "marcado") {
                    $('#Favoritar').val('Desmarcar como favorito');
                }

                if (result == "desmarcado") {
                    $('#Favoritar').val('Marcar como favorito');
                }
                $('#Favoritar').disabled = false;
            }
        })
    }

</script>

}

<hgroup class="title">
    <h1>Detalhes</h1>
</hgroup>

@if (Model.is_favorite) { 
<input id="Favoritar" type="button" value="Desmarcar como favorito" onclick="doFavorito();" />
}
else
{
<input id="Favoritar" name="Favoritar" type="button" value="Marcar como favorito" onclick="doFavorito();" />
}

<table>
    <tr>
        <td style="font-weight: bold">@Html.DisplayNameFor(model => model.name): </td>
        <td>@Html.DisplayFor(model => model.name)</td>
    </tr>
    <tr>
        <td style="font-weight: bold">@Html.DisplayNameFor(model => model.description):</td>
        <td>@Html.DisplayFor(model => model.description)</td>
    </tr>
    <tr>
        <td style="font-weight: bold">@Html.DisplayNameFor(model => model.updated_at):</td>
        <td>@Html.DisplayFor(model => model.updated_at)</td>
    </tr>
    <tr>
        <td style="font-weight: bold">@Html.DisplayNameFor(model => model.language):</td>
        <td>@Html.DisplayFor(model => model.language)</td>
    </tr>
    <tr>
        <td style="font-weight: bold">@Html.DisplayNameFor(model => model.owner.login):</td>
        <td>@Html.DisplayFor(model => model.owner.login)</td>
    </tr>
</table>
<h2>Contribuidores</h2>
<fieldset>
    <div>
        @{
            var grid = new WebGrid(source: Model.contributors);
        }
        @grid.GetHtml(mode: WebGridPagerModes.All, firstText: "<<", lastText: ">>",
            tableStyle: "webgrid",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            columns: grid.Columns(
                grid.Column("login", header: HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.contributors[0].login).ToString()).ToString(), canSort: false),
                grid.Column("contributions", header: HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.contributors[0].contributions).ToString()).ToString(), canSort: false)
            )
        )
    </div>
</fieldset>
<p>
    @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer })
</p>
